

/* @import url('https://fonts.googleapis.com/css?family=Oswald+Nunito&display=swap'); */


@media screen and (min-width: 0px) and (max-width: 400px) {
  #my-content{ display: block; }  /* show it on smaller screen */
}
@media screen and (min-width: 401px) and (max-width: 1024px) {
  #my-content{ display: none; }   /* hide it on larger screens */
}


.bg-color {
    background-color: #332335;
}

/*----Top Banner----*/

#top-banner {
    min-height: 25px;

}





/*----Header----*/



/*----logo----*/





/*----Navbar----*/




/*----Navbar Links----*/

.nav-item {
    padding-right: 30px;
    font-size: large;
    font-weight: 500;
    margin-right: 50px;
    font-family: "Oswald";
}


/*----Catchy line----*/


.catchy-line {
    font-size: 35px;
}


/*----Section----*/






/*----Hero Image Starts----*/






/*----Hero Image Ends----*/






/*----Footer----*/

.footer-style {
position: absolute;
min-width:100%;
max-width:100%;
top: 940px;
}


.list-inline-item i {
    font-size: 50px;
    margin: 0 auto;
    color: white;
    max-width: height 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-inline li {
    padding-left: 25px;
    float: right;
}


/*----Footer text----*/


.footer-text {
    font-size: 15px;
    margin: 0 auto;
    color: #ffffff;
    max-width: height 80px;
    padding-top: 20px;
}



/*----Footer btn----*/


.top-nav-button a {
    margin-top: 2rem;
    font-size: 10px;
    font-weight: 300;
    color: white;
    border: 2px solid #ffffff;
}