

@import url('https://fonts.googleapis.com/css?family=Oswald+Nunito&display=swap');




/*----Jumbotron----*/

.bg-color {
    background-color: #332335;
}





/*----Header----*/



/*----logo----*/





/*----Navbar----*/




/*----Navbar Links----*/

.nav-item {
    padding-right: 30px;
    font-size: large;
    font-weight: 500;
    margin-right: 50px;
    font-family: "Oswald";
}




/*----Section----*/






/*----Hero Image Starts----*/






/*----Hero Image Ends----*/






/*----Footer----*/

.footer-style {
position: absolute;
height: 200px;
min-width:100%;
max-width:100%;
top: 940px;
}


.list-inline-item i {
    font-size: 50px;
    margin: 0 auto;
    color:#fff;
    max-width: height 80px;
    padding-top: 40px;
}

.list-inline li {
    padding-left: 25px;
    float: right;
}

p {
    color: blanchedalmond;
}