

/* @import url('https://fonts.googleapis.com/css?family=Oswald+Nunito&display=swap'); */




.bg-color {
    background-color: #332335;
}

/*----Top Banner----*/

#top-banner {
    min-height: 25px;
    position: absolute;

}





/*----Header----*/


.header-style {
    padding-top: 25px;
}

.container-fluid {
    width: 100%;
}



/*----logo----*/




/*----Navbar----*/

.navbar-wrapper {
    background-color: white;
}


/*----Navbar Links----*/

.nav-item {
    padding-right: 30px;
    font-size: large;
    font-weight: 500;
    margin-right: 50px;
    font-family: "Oswald";
}



.nav-item:hover {
    color: black;
    text-decoration: none;
}


/*----Catchy line----*/


.nav-link-top {
    font-size: x-large;
    color: black;
    text-decoration: none;
    font-family: "Oswald";
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-link-top:hover {
    color: #663399;
    text-decoration: none;
}


/*----Div Home Cards home----*/

.home-card-style {
    font-family: "Oswald";
}






/*----Top menu----*/

.list-unstyled-feedback p,h5 {
    font-family: "Oswald";
}

.link-winelist {
    font-family: "Oswald";
    color: black;
    font-size: 16px;
}

.link-winelist:hover {
    color: #663399;
    text-decoration: none;
}

/*----Title bottom----*/

.title-bottom-home {
    font-family: "Oswald";
    color: black;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----Feedback part home----*/


.list-unstyled-feedback {
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
}

li h6 {
    font-family: "oswald";
}





/*----Footer----*/

.footer-style {
position: sticky;
min-width:100%;
max-width:100%;
top: 940px;
display: flex;
flex-direction: column;
}


.list-inline-item i {
    font-size: 50px;
    margin: 0 auto;
    color: white;
    max-width: height 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-inline li {
    padding-left: 25px;
    float: right;
}


/*----Footer text----*/


.footer-text {
    font-size: 20px;
    font-family: "Oswald";
    font-weight: 400;
    margin: 0 auto;
    color: #ffffff;
    max-width: height 80px;
    padding-top: 40px;
}



/*----Footer btn----*/


.top-nav-button a {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 400;
    font-family: "Oswald";
    color: white;
    border: 2px solid #ffffff;
    position: right;
}

.top-nav-button a:hover{
    color: #ffffff;
    text-decoration: none;
}


/*----About us page beginning----*/

.img-thumbnail {
    background-color: #332335;
    margin-bottom: 100px;
}

.about-us-intro {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "oswald";
    font-weight: 400;
    font-size: larger;
}

#driving-force {
    font-family: "oswald";
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-text-staff {
    font-family: "oswald";
    font-size: 18px;
}

.container-fluid-card-staff {
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

#ab-us-form-intro {
    font-family: "oswald";
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.bg-color-form {
    background-color: #A57A84;
}

.form-style {
    margin: 0 auto;
    width:70%;
    margin-bottom: 100px;
}



/*----About us page end----*/


/*----Menu page beginning----*/

.menu-features {
    font-family: "oswald";
    color: black;
}

.card-text {
    font-family: "oswald";
    font-weight: lighter;
}

.menu-features {
    margin-top: 100px;
}

.card-deck {
    margin-bottom: 100px;
}

.menu-list-bottom {
    margin-bottom: 100px;
}


/*----Menu page page ends----*/



/*----Gallery page beginning----*/

.images_gallery img {
    width: 30%;
}

.embedded-video {
    margin-top: 100px;
}

.masterpiece {
    margin-top: 100px;
}

.embedded-map {
    margin-bottom: 100px;
}

.reach-us {
    margin-bottom: 50px;
}



/*----Gallery page ends----*/

